/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Mar 23, 2018, 9:07:13 PM
    Author     : janiak
*/

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    max-width: 100vw;
}

main {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    /* height of your footer */
}

.content {
    margin-top: 100px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #212529;
    color: dimgray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.player {
    margin-top: 20px;
    white-space: nowrap;
}

nav {
    margin-bottom: 10px;
    max-width: 100vw;
}

.emailLink {
    color: dimgray;
}

.emailLink:hover {
    color: dimgray;
}

.emailLink:visited {
    color: dimgray;
}