/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2018, 9:07:13 PM
    Author     : janiak
*/
main{
    margin-top: 10vh;
}
.player{
    margin-top: 20px;
}
