a{
 color: white;
 }
 a:visited{
     color:white;
 }
 a.dropdown-link:visited,a.dropdown-link:hover
{
    color:black;
}
td{
    text-align: center;
    white-space: nowrap;
}
th{
    text-align: center;
    white-space: nowrap;
}
.team{
    white-space: normal;
}
.logo{
 width: 70px;
 height: 70px;
}