.terminarz {
    list-style-type: none;
}

.article {
    padding-top: 30px;
    border-bottom: solid 1px #ccc;
}

.club {
    font-size: 30px;
    width: 40%;
    display: inline-block;
    text-align: center;
}

.hour {
    font-size: 25px;
}

.petanque {
    font-size: 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.result {
    display: inline-block;
    width: 80%;
}

.dateTime {
    border-right: dotted 2px #ccc;
    width: 20%;
    display: inline-block;
}

.resultOfGame {
    font-size: 35px;
    width: 15%;
    display: inline-block;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .dateTime {
        border-right: none;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
    .result {
        display: block;
        text-align: center;
    }
    .terminarz {
        margin-left: 0;
        padding-left: 0;
    }
    .resultOfGame {
        font-size: 25px;
    }
    .club {
        font-size: 20px;
    }
    .hour {
        font-size: 15px;
    }
    .result {
        width: 100%;
    }
}